@font-face {
  font-family: 'FavoritC';
  src: url("../fonts/subset-FavoritLightC.woff2") format('woff2'), url("../fonts/subset-FavoritLightC.woff") format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'FavoritC';
  src: url("../fonts/subset-FavoritC.woff2") format('woff2'), url("../fonts/subset-FavoritC.woff") format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}