.select {
  display: block;
  height: 38px;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 7px;
  }

  &::after {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 1L5 5L1 1' stroke='%23808080' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    content: '';
    height: 4px;
    left: auto;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
  }

  select {
    appearance: none;
    background-color: #fff;
    box-shadow: none;
    border: 1px solid $brand_grey;
    border-radius: 0;
    background-image: none;
    cursor: pointer;
    color: $dark_grey;
    font-size: 16px;
    font-weight: 300;
    height: 100%;
    margin: 0;
    outline: 0;
    padding: 0 35px 0 15px;
    transition: border-color 0.3s, color 0.3s;
    width: 100%;

    &::-ms-expand {
      display: none;
    }

    &:focus {
      border-color: $text_color;
      color: $text_color;
    }

    &:disabled {
      opacity: 0.5;
    }
  }
}