$brand_green: #26A155;
$brand_grey: #E2E2E2;
$brand_rose: #EFD0E4;
$light_grey: #F6F6F6;
$dark_grey: #808080;
$red_color: #F4511E;
$text_color: #000;
$sm: 768px;
$md: 1024px;
$lg: 1200px;
$xl: 1350px;
$xxl: 1440px;