@import "base/_variables.scss";

.cards-list {
    display: grid;
    row-gap: 40px;
    @media(min-width: $sm) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media(min-width: $md) {
        column-gap: 40px;
        grid-template-columns: repeat(3, 1fr);
    }
    @media(min-width: $lg) {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 10px;
    }
    @media(min-width: 1280px) {
        column-gap: 30px;
    }
    @media(min-width: $xl) {
        column-gap: 40px;
    }

    &__item {
        @media(min-width: $sm) {
            display: flex;
        }
    }
}