@import "base/_variables.scss";

.case-card {
    border: 1px solid $brand_grey;
    display: flex;
    flex-direction: column;
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
    width: 100%;

    &--small {
        max-width: 180px;

        .case-card__title {
            font-size: 12px;
        }

        .case-card__text-block {
            padding: 13px 10px 7px;
        }
    }

    &:hover {
        .case-card__image {
            transform: scale(1.15);
        }
    }

    &__link {
        display: block;
        text-decoration: none;
        width: 100%;

        &:focus,
        &:hover {
            color: $dark_grey;

            .case-card__image {
                transform: scale(1.2);
            }

            .case-card__title {
                color: $dark_grey;
            }
        }
    }

    &__image-block {
        display: block;
        overflow: hidden;
        position: relative;
    }

    &__image {
        transform: scale(1);
        transition: transform 0.3s;
    }

    &__text-block {
        display: block;
        padding: 21px 15px 15px;
    }

    &__tag {
        color: $dark_grey;
        display: block;
        font-size: 16px;
        line-height: 1.5;
    }

    &__title {
        display: flex;
        flex-grow: 1;
        font-size: 18px;
        line-height: 1.4;
        margin: 0;
        letter-spacing: 1.5px;
        transition: color 0.3s;
    }

    &__title-text {
        display: block;
        font-weight: 400;
        text-transform: uppercase;
    }
}