@import "base/_variables.scss";

.form {
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    @media(min-width: $md) {
        margin-top: 55px;
    }

    &__socials {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-bottom: 37px;
    }

    &__socials-link {
        align-items: center;
        background-color: $light_grey;
        border-radius: 50%;
        color: $text_color;
        display: flex;
        height: 40px;
        justify-content: center;
        transition: background-color 0.3s;
        text-decoration: none;
        width: 40px;
        @media(min-width: 375px) {
            height: 46px;
            width: 46px;
        }

        &:focus,
        &:hover {
            background-color: darken($light_grey, 3%);
        }
    }

    &__forgot-link {
        font-size: 14px;
        text-align: right;

        a {
            color: $dark_grey;

            &:focus,
            &:hover {
                color: $text_color;
                text-decoration: none;
            }

            &:active {
                color: $brand_green;
            }
        }
    }

    &__note {
        font-size: 14px;
        margin-top: 24px;

        a {
            text-decoration: none;
        }
    }

    &__buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 36px;

        .button {
            margin-left: 9px;
            margin-right: 9px;
            margin-bottom: 9px;
        }

        &--align_start {
            justify-content: flex-start;

            .button {
                margin: 0;
            }
        }
    }

    &__group {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 24px;
        @media(min-width: 480px) {
            margin-bottom: 31px;
        }

        .button {
            margin-bottom: 14px;
            width: 100%;
            @media(min-width: 480px) {
                width: auto;
            }
        }

        .input-label {
            width: 100%;
            @media(min-width: 480px) {
                flex-grow: 1;
                margin-right: 15px;
                width: auto;
            }
        }
    }

    &__socials-block {
        margin-top: 50px;

        h2 {
            margin-bottom: 30px;
        }
    }
}