@import "base/_variables.scss";

.page-banner {
    align-items: center;
    background-color: $light_grey;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    min-height: 460px;
    margin-bottom: 35px;
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: center;
    @media(min-width: $md) {
        margin-bottom: 50px;
    }

    &__container {
        background-color: rgba($light_grey, 0.7);
        backdrop-filter: blur(5px);
        filter: drop-shadow(0 4px 30px rgba(#000, 0.08));
        max-width: 500px;
        padding: 35px;
        width: 100%;
        @media(min-width: $md) {
            max-width: 730px;
            padding-left: 60px;
            padding-right: 60px;
            padding-bottom: 50px;
        }
    }

    &__title {
        border-bottom: 0.5px solid rgba(#000, 0.3);
        font-size: 30px;
        margin-bottom: 22px;
        @media(min-width: $md) {
            font-size: 50px;
        }
    }

    &__text {
        font-weight: 400;
    }

    .button {
        &:active,
        &:focus,
        &:hover {
            background-color: darken($brand_green, 5%);
            border-color: darken($brand_green, 5%);
            color: #fff;

            .arrow {
                fill: #fff;
            }
        }
    }
}